{% extends "layout.html" %}
{% block head %}
{{super()}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/style_index.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>

<script src="/static/index.js"></script>
<style>
	
</style>
{% endblock %}
{% block body %}
<header>
	<div class="container-fluid">

		<div class="logo">
			<img src="/static/images/Logo.png" height="100" width="160">
			<button type="button" class="btn btn-primary"
				onclick="location.href='http://localhost:5000/'">Logout</button>
		</div>

		<div class="card text-center">
			<div class="card-header">
				<ul class="nav nav-pills card-header-pills">
					<li class="nav-item">
						<a class="nav-link active" id="timetable-1">Timetable</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="assignment-1">Assignment</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="syllabus-1">Syllabus</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="events-1">Events</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="committee-1">Committee</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="notice-1">Notice</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="profile-1">Profile</a>
					</li>
				</ul>
			</div>

			<div class="card-body" id="timetable">
				<h5 class="card-title">List of timetables</h5>
				<a href="#demo" class="btn btn-info" data-toggle="collapse">Show timetable</a>
				<br><br>
				<div id="demo" class="collapse">
					{% for file in timetable %}
					<embed src="{{file}}" type="application/pdf" height="600px" width="100%">
					<br><br><br><br>
					{% endfor %}
				</div>

			</div>

			<div class="card-body" id="assignment">
				<h5 class="card-title">See All the assignment</h5>
				<a href="#demo" class="btn btn-info" data-toggle="collapse">Show Assignment</a>
				<br><br>
				<div id="demo" class="collapse">
					{% for file in assignment %}
					<embed src="{{file}}" type="application/pdf" height="600px" width="100%">
					<br><br><br><br>
					{% endfor %}
				</div>
			</div>

			<div class="card-body" id="syllabus">
				<h5 class="card-title">See the syllabus</h5>
				<a href="#demo" class="btn btn-info" data-toggle="collapse">Show Syllabus</a>
				<br><br>
				<div id="demo" class="collapse">
					{% for file in syllabus %}
					<embed src="{{file}}" type="application/pdf" height="600px" width="100%">
					<br><br><br><br>
					{% endfor %}
				</div>
			</div>

			<div class="card-body" id="events">
				<h5 class="card-title">See All events</h5>
				<a href="#demo" class="btn btn-info" data-toggle="collapse">Show Events</a>
				<br><br>
				<div id="demo" class="collapse">
					{% for file in events %}
					<embed src="{{file}}" type="application/pdf" height="600px" width="100%">
					<br><br><br><br>
					{% endfor %}
				</div>
			</div>

			<div class="card-body" id="committee">
				<h5 class="card-title">See all Committee Details</h5>
				<table class="table" id="tt">
					<thead>
						<tr>
							<th>Committe-name</th>
							<th>Head</th>
							<th>Mobile</th>
						</tr>
					</thead>
					{% for comitee in comitee %}
					<tbody>
						<tr>
							<td>{{ comitee[1] }}</td>
							<td>{{ comitee[0] }}</td>
							<td>{{ comitee[2] }}</td>
						</tr>
					</tbody>
					{% endfor %}
				</table>
			</div>

			<div class="card-body" id="notice">
				<h5 class="card-title">See All notice</h5>
				<a href="#demo" class="btn btn-info" data-toggle="collapse">Show Notice</a>
				<br><br>
				<div id="demo" class="collapse">
					{% for file in notice %}
					<embed src="{{file}}" type="application/pdf" height="600px" width="100%">
					<br><br><br><br>
					{% endfor %}
				</div>
			</div>

			<div class="card-body" id="profile">
				<div class="container">
					<h3>Profile Details</h3>
					<br>
					<div class="card-body-1" id="profile">
						<table class="table">
							<thead></thead>
							<tbody>
								{% for i in items %}
								<tr>
									<td>{{i}}</td>
									<td>{{items[i]}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>

	</div>
</header>


{% endblock %}