*{
	margin: 0 ;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 30px;
}

ul li{
	display: inline-block;

}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	text-decoration: none;
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}
.logo img{
	float: left;
	width: 170px;
	height: auto;
	margin-top: 10px;
}

.main{
	max-width: 1200px;
	margin: auto;
}
.title{
 	position: absolute;
 	top: 40%;
 	left: 50%;
 	transform: translate(-50%,-50%);
 }

 .title h1{
 	color: white;
 	font-size: 50px;
 	font-style: oblique;

 }

 .tab{
 	color: white;
 	font-size: 50px;
 	font-style: oblique;

 }

#select_option{
 	top: 52%;
 	left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 10px 30px;
    text-decoration: none;
    background-color: transparent;
    border-color: #008000;
    transition: 0.6s ease;
    font-style: italic;
    display: inline-block;
 }

 h1 {
 font-family: 'Lobster', Georgia, Times, serif;
 font-size: 70px;
 line-height: 100px;
}

h2{
 font-family: 'Cabin', Helvetica, Arial, sans-serif;

}

hr.style1{
	border-top: 5px solid white;
}
