

body{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/background2.jpg);
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo{
    padding-top:1%; 
}

.btn.btn-primary{
    float: right;
    margin-right: 5%;
    margin-top: 1%;
}

.nav-link{
    cursor: pointer;
}

.card.text-center{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

#assignment.card-body,#syllabus.card-body,#events.card-body,#committee.card-body,#notice.card-body,#profile.card-body{
    display:none;
}

.card-body-1{
    text-transform: capitalize;
}

.button {
    background-color: rgb(30, 193, 247);
    border-radius: 12px;
    border: none;
    color:black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

