*{
	margin: 0 ;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/background.jpg);
	height: 17vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 30px;
}

ul li{
	display: inline-block;

}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	text-decoration: none;
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}
.logo img{
	float: left;
	width: 170px;
	height: auto;
	margin-top: 10px;
}

.main{
	max-width: 1200px;
	margin: auto;
	
}

footer{
	background:/* #3b4172 #363433*/;
	font-family: poppins;
	color: black;
	margin-bottom: 0px;
}

.wrapper{
	width: 1170px;
	margin: 2% auto;
}

.section-header{
	text-align: center;
	margin-bottom: 30px; 
}

.section-header h2{
	text-transform: uppercase;
	margin: 0;
	color: #fff;
	font-size: 45px;
	letter-spacing: 5px;
}

.team-member{
	width: 300px;
	height: auto;
	float: left;
	box-shadow: 5px 5px 15px #000;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 15px;
	text-align: center;
	margin: 0 5px;
	margin-left: 6%; 
	background: /*#222859*/#363433;
}

.team-member img{
	width: 100%;
}

.team-member{
	text-transform: uppercase;
	font-size: 10px;
	color: #fff;
}

.team-member:before{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 4px;
	width: 100%;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	box-sizing: border-box;
	transform: translateX(100%);
}

.team-member:after{
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	bottom: 0;
	height: 4px;
	width: 100%;
	border-top: 4px solid transparent;
	border-right: 4px solid transparent;
	box-sizing: border-box;
	transform: translateX(-100%);
}

.team-member:hover:before{
	border-color: #d04f81;
	height: 100%;
	transform: translateX(0);
	transition: .3s transform linear, .3s height linear .3s;
}

.team-member:hover:after{
	border-color: #d04f81;
	height: 100%;
	transform: translateX(0);
	transition: .3s transform linear, .3s height linear .5s;
}

.container h1{
	margin-top: 35%;
}

.striped-border {
        border: 1px dashed #000;
        width: 100%;
        margin: auto;
        margin-top: 0;
        margin-bottom: 1%;
    }